.orders {
    background-color: #fff;
    color: #000;
    margin: 1rem;
    list-style: none;
   
}

.order {
   
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    flex-direction: column;
    border: #000 solid 1px ;
    padding: 0.5rem;
    max-width: 60vw;
    border-bottom: 3px solid #000;
}

.item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

.item-prices {
    display: flex;
}

.item-prices p {
    margin: 1rem;
}

.total {
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}

.completed {
    display: flex;
    justify-content: space-between;
    margin-right: 1.5rem;
}

.completed input {
    width: 20px;
}

.container-orders{
    margin: 1rem;
}